<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <small>
        Already a Member? <a href="login">Sign In</a>
      </small>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <small>
        Not Yet a Member? <a href="register">Sign Up</a>
      </small>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <small>
        Register To Become A Shop Owner? <a href="vendor-reg">Sign Here</a>
      </small>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <small>
        Go to SuperAdmin <a href="ion-modal">Click Here</a>
      </small>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <small>
        Go to Vendor <a href="vendor-admin">Click me</a>
      </small>
    </ion-title>
  </ion-toolbar>
</ion-footer>


</ion-content>



